@import './src/styles/variables.scss';

.nav {
  display: flex;
  flex-wrap: wrap;
  height: $nav-height;
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  padding: 5px;
  border: solid $color-firm2 1px;
  text-transform: uppercase;
  background: #ffffff;
}

.nav__item--active {
  box-shadow: inset 5px 5px 10px #999999;
}
