@import './variables';
@import 'reset';
@import './mixins';

.todo {
    margin: 10px;
}

.todo__controls {
    display: flex;
    justify-content: center;
    height: 33px;
}

#todo-input {
    display: flex;
    height: 33px;
    width: 100%;
    border: solid 2px #898989;
    border-right: 0;
}

#todo-btn-add {
    border: 2px solid #898989;
    width: 33px;
    flex-shrink: 0;
    cursor: pointer;
}

.todo__list-item {
    display: flex;
    justify-content: space-between;
    height: 33px;
    padding-left: 5px;
    align-items: center;
    border-left: solid #898989 2px;
    border-bottom: solid #898989 2px;
}

.todo__btn-del {
    height: 100%;
    width: 33px;
    flex-shrink: 0;
    border-left: solid #898989 2px;
    border-right: solid #898989 2px;
    cursor: pointer;
}
