@import './src/styles/variables.scss';

.login {
  height: calc(100vh - #{$nav-height});
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(63, 81, 181, 1) 100%);
}

.auth__front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  padding: 40px;
}

.auth__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 7px 10px 20px rgba(63, 81, 181, 1);
}

.auth__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  padding: 20px;
  min-width: 240px;
  max-width: 360px;
}

.auth__form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 2;
  min-width: 240px;
  max-width: 320px;
}

.auth__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 40px;
  color: #999999;
  background: #ffffff;
  box-shadow: 7px 10px 20px rgba(63, 81, 181, 1);
}

.auth__aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 7px 10px 20px rgba(63, 81, 181, 1);
}

.auth__mi-component {
  width: 100%;
}

.auth__second-button--wrapper {
  margin-top: 15px;
}

.auth__sign-in--wrapper {
  margin-top: 25px;
}

.auth__sign-in {
  padding: 5px;
  height: 70px;
}

.auth__input--wrapper {
  margin: 5px 0;

  &:first-child {
    margin-top: 0;
  }
}

.auth__error {
  color: #555555;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #ff6060;
  border-radius: 5px;
  margin-top: 5px;
}

.auth__progress {
  margin-top: 10px;
}

@media (min-width: 361px) and (max-width: 900px) {
  .auth__front {
    display: none;
  }

  .auth__form {
    width: 100%;
  }
}

@media (min-width: 0) and (max-width: 360px) {
  .auth__front {
    display: none;
  }

  .auth__form {
    padding: 0;
    max-width: 100%;
  }
}
