.login__login {
  border: solid 2px #999999;
  margin: 5px;
  padding: 5px;
}

.login__password {
  border: solid 2px #999999;
  margin: 5px;
  padding: 5px;
}

.login__sign-in {
  border: solid 2px #999999;
  margin: 5px;
  padding: 5px;
  height: 500px;
}
